/* body {
  background-color:#FF8C32;
}

.logo img {
  max-width: 400px;
  max-height: 400px;
}

.tombol-submit {
  background-color:#FF8C32;
  color:white;
}

.buat-akun {
  color:black;
  text-decoration: none;
} */